.table-row-bg{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 53, 53);
    border-radius: 10px;
    margin:10px 10px;
    font-weight: 500;
}