

.header-bg{
    padding:25px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.header-name{
    color:rgb(17, 233, 233);
    font-weight: 500;
    font-size:40px;
    margin:0px;
}

.dropdown-styling{
    padding:10px;
    border: 0px;
    border-radius: 8px;
    background-color: rgb(17, 233, 233);
    color:white;
    margin-right:10px;
}

.timer-div{
    display: flex;
align-items:center ;}

.connect-button{
    border:0px;
    background-color: rgb(17, 233, 233);
    color:white;
    border-radius: 10px;
    padding:10px 15px;
    margin-left: 10px;
    cursor: pointer;
}

.timer-ele{
    color:rgb(17, 233, 233);
    border:1px solid rgb(17, 233, 233);
    border-radius: 50px;
    padding:5px 9px;
}

@media (max-width:767px){
    .header-name{
        font-size: 25px;
        text-align: center;
        width:100%;
        order:1
    }
    .drop-downs-div {
        order:2;
        display: flex;
    }
    .timer-div{
        order:3;
    }
}


